---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogList from '../../components/BlogList.astro';
import Archived from '../../components/Archived.astro' 

const allPosts = await Astro.glob('../../../src/content/blog/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Archived />
		<Header />
		<main class="max-w-5xl mx-auto">
			<section>
				<BlogList posts={posts} />
			</section>
		</main>
		<Footer />
	</body>
</html>
