---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';

// This method is how it generates the page, from [tag].astro to /example-page
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../../content/blog/*.md');

  // Loop through all the posts, get the tags, flattens any nested arrays and puts them into a set so theres no duplicates
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

		</style>
	</head>
	<body>
		<Header />
            <main>
                <section>
                        <p>Posts tagged with {tag}</p>
                        <ul>								
                            {posts.map((post) => <li><a href={'/blog/blog/' + post.frontmatter.url}>{post.frontmatter.title}</a></li>)}
                        </ul>
                </section>
            </main>
		<Footer />
	</body>
</html>