---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="Some projects I'm currently working on."
	pubDate={new Date('August 22 2023')}
>
	<p>
		These are some of the projects I'm working on, some I half did, some I finished most are useless but all were learning experiences. 
	</p>

	<p>
		In progress: Laravel with vector database (Postgres with the pgvector extension) so it can be queried with embeddings a simple 'knowledge base' if you will.
	</p>

	<p>
		Todo: Another project here, I need to have some more stuff of my own rather than work projects that can't be shown.
	</p>

</Layout>
