---
import Layout from '../layouts/BlogPost.astro';
import Archived from '../components/Archived.astro';
---

<Archived />
<Layout
	title="Projects"
	description="Some projects I'm currently working on."
	pubDate={new Date('August 1 2024')}
>
	<p>
		These are some of the projects I'm working on, some I half did, some I finished most are useless but all were learning experiences. 
	</p>

	<p>
		Now: I'm working on quollect, it will be a simple quote collecting app built in Laravel for something to demo to peeps.
	</p>

	<p> 
		Previous: 
	</p>

	<p>
		I need to have some more stuff of my own rather than work projects that can't be shown.
	</p>
</Layout>
