<div class="p-6">
    <p class="">Experience</p>
    <!-- <p class="my-2 text-sm">Here is a high level overview of my journey, let me know if you want to know more.</p> -->
    <p class="my-2 text-sm">Overview of my journey so far.</p>
    <ul class="list-disc text-sm pl-3">
        <li class="py-2" >2021 - Now: Express, NextJS, GraphQL at a remote company.</li>
        <li class="py-2" >2018 - 2021: Wordpress work at a local agency.</li>
        <li class="py-2" >2016 - 2018: Magento work at a local agency. </li>
        <li class="py-2" >2014 - 2018 Uni - Web Development.</li>
    </ul>
</div>