<div class="p-6">
    <p class="">Recent Projects</p>
    <p class="my-2 text-sm">Current projects I am making improvements to now and again.</p>
    <ul class="list-disc text-sm pl-3">
        <li class="py-2"><a target="_blank" class="hover:text-orange-500" href="https://quollect.com/">Quollect</a> (Laravel) - The idea is simple, so the app is simple, view random quotes and collect them.</li>
        <li class="py-2"><a target="_blank" class="hover:text-orange-500" href="https://notes.thestupidprogrammer.com">Notes</a> - Trying to write and improve my online notes for future me to reference.</li>
    </ul>
</div>