<div class="p-6">
    <p class="">Tech Stack / Tools</p>
    <p class="my-2 text-sm">Various tech that I have worked with:</p>
    <ul class="list-disc text-sm pl-3">
        <li>Laravel</li>
        <li>VueJs</li>
        <li>React</li>
        <li>Inertia</li>
        <li>Tailwindcss</li>
        <li>SQL</li>
        <li>Wordpress</li>
        <li>Forge</li>
        <li>Github</li>
    </ul>
</div>